*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
form
{
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    margin: auto;
    padding-top: 250px;  
}
h3
{
    padding: 20px;
    font-size: 30px;
    font-weight:bolder;
    font-stretch:narrower;
}
input
{
    padding: 5px 0px ;
    font-size: 10px;
    text-align: center;
}
.btn
{

   margin: 15px 15px;
}
